repos:
  - repo: local
    hooks:
      - id: pytest
        name: Run pytest
        entry: bash -c 'PYTHONPATH=./ pytest --verbosity=0'
        language: system
        types: [python]
      - id: pylint
        name: Run pylint with a minimum score of 9
        entry: bash -c 'pylint . --fail-under=9'
        language: system
        types: [python]
